language: python
python:
  - '3.6'
  - '3.7'
install:
  - make install
script:
  - make test-all
deploy:
  provider: pypi
  user: __token__
  password:
    secure: UhwZz5MzcLgNfVNkP770ec6uQcvD8VCZtab0xGIirNi3fg3o/9KaCqKBNy2/PxTcZPWmgLyfotiHm+Kb4sjCIIjxTcTYFiTWBgJKDRtHg/1CRkK9RBEL5JqVSPmKylfgQyAMGTwUv/FntCGKA/qJrd9uh+QFV6BdfCoSbe8lX5GtwZ3dc3rl8ALx4QV5nC1nGL8tyUbcnEgnQT//8vHp94orQ1uPzGC/AJ7EJ41DN7TGj/RxBm8ZP1tso4yn8y4HPpllzHxNzC1WOb0dVEy7KYS8EXS4eHuyvr/B3b0WojSDOxYfU1ODe1hf1UJrj6v1fRdMuQhsrW07rcm1OUw07OqDpSvUGr6dwcvqrpTZDgd8WMSK+xd8RiKU2XQ5CRieJcBQfyLXcgIxS7OubQM1+3RXb2hO3mAjh9ocqtQAKRBKwTXFV4YpBd2Gy20Y/x6ADzWyL8HYt6bwOKrOQoK3ixCMfDO9rqzqpeTbm3QTmRaB6qajdnJvRW+lNvZVzail3QDzjLPowVgP1KJFP79g1rxKCC9ArmgTsIMw8KFLtBsiFTr4ScufxYpyqUViJft0pZSfWhWTHYO6F45EdN/7ms2tBlXP5fzyhCXYpe5AMGQLDRscjDb3ufehFk92O8kEnh9sktqLoF1+o/K3bPkT+yNi3/Tos9xs8q2YnWBh+xY=
  on:
    tags: true
  distributions: sdist bdist_wheel
  skip_existing: true
notifications:
  slack:
    secure: nV6gKjt5z8Fx5gfC9ysrV9/ZBnDtbS2Lccs8plXQmyqEVlQhHt8z5gXbKwa9BMlV4wSuK4d7swVpC6Uz4L07/VV4pZF/0UTcODz2rVqbpTUrO1B8z6gqhyAy6XaRs9DNoJ6R0RqZhUEQPi2MsUh7FdNpFPONVObtq3SrmI3ztVtROn3M3uOVWjVXfF/FnY+DwlpQ4Jdja1ZMxfyVadf4lx+Ac3N8cxs1X4K0se3IZslnS/gv6VRDVh5d5lgBc2MT1WTnIDIFyqEICdVdG6zs4I6TJuaK57NlOfCPekBTCN5wW2qnlfl6XxRwTG/276FMNjWohLm5gNYvnrHx+CVcmNuIJ0BpJ2gv4pV+aHVy46/wqPk0YbEIXABO+qbCvBfI2YcPSHQx5H4DlmB5euDPud4x3FiO0UpQ8yrou9UhQqnojWhTJcdaNSomDEW+uSRGu23AmXFFQg6L0+7pKjXKrLaVEk6DHMcWE04/9V44VbhI48iHMU4ARMTnTmlaPQHBnHlNhLzoTLEX8L0mHJKqD/uexH2w1EWmwDQirM6wy42HpW9Yph9SXCvjGPSbGQ5dvSdMmoziBjeDUkt67R4S7zTfAgWwRxZUlUyY99E0wCm+RGlF2qCrv7ocq2YPwhjNHqL++2d2A3sAfG825Y+0qZcb7gDvbPmb5rwRU325FLw=
